
<h3>マイページ</h3>

<h3>登録情報 
    <button type="button" class="btn btn-default navbar-btn">
        <%= link_to '編集する' %>
    </button>
    <button type="button" class="btn btn-default navbar-btn">
        <%= link_to 'パスワードを変更する' %>
    </button>
</h3>

<table></table>

<h3>配送先
    <button type="button" class="btn btn-default navbar-btn">
        <%= link_to '一覧を見る' %>
    </button>
</h3>

<h3>注文履歴
    <button type="button" class="btn btn-default navbar-btn">
        <%= link_to '一覧を見る' %>
    </button>   
</h3>


<p>public/end_users#show</p>