<h2>ジャンル一覧・追加</h2>
    <div>
    <%= render '/admin/genres/newform', genre: @genre %>
    </div>

    <table class="table">
        <thead class="active">
            <tr>
                <th>ジャンル</th>
                <th>状態</th>
                <th></th>
            </th>
        </thead>
        <tbody>

        </tbody>
    </table>

<p>admin/genres#index</p>