<h3>配送先編集</h3>
<div>
    <%= form_for(@addresses) do |f| %>
        <label>郵便番号</label>
        <%= f.string_field :post_code>
        <%= f.submit '編集する' %>
    <% end %>
</div>


<h1>Public::Addresses#edit</h1>
<p>Find me in app/views/public/addresses/edit.html.erb</p>
