<h2>配送先登録/一覧</h2>



<div>
    <table>
        <thead>
            <tr>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>a</td>
                <td>c</td>
                <td>s</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>

<h3>Public::Addresses#index</h3>
<p>Find me in app/views/public/addresses/index.html.erb</p>
