<h2>配送先登録/一覧</h2>

<div>
<%= form_for(@address, url: '/addresses') do |f| %>
    <p>郵便番号</p>
    <%= f.text_field :post_code %>
    <% end %>
</div>




<div>
    <table>
        <thead>
            <tr>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Public::Addresses#index</h3>
<p>Find me in app/views/public/addresses/index.html.erb</p>
