
<h2>会員情報</h2>
<div class="containa">
    <% @end_users.each do |end_users| %>
    <div>
       <td>顧客ID</td>
       <td><%= @end_user.name %></td>
    </div>
    <div>

    </div>
    <div>
</div>




<h1>Admin::EndUsers#show</h1>
<p>Find me in app/views/admin/end_users/show.html.erb</p>
