<h2>商品一覧</h2>
<% @items.each do |item| %>
    <%= item.id %>
    <%= item.name %>
    <%= item.price %>
<% end %>

<h3>Public::Items#index</h3>
<p>Find me in app/views/public/items/index.html.erb</p>
