<div>
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-6">
        </div>

    </div>

<div>

<h1>Public::Items#show</h1>
<p>Find me in app/views/public/items/show.html.erb</p>
